.game .container {
	margin-top: 1em;
}

.game .alert-location-invalid {
    display: none;
}

.game .alert-location-error {
    display: none;
}

.game .debug td {
	font-size: 14px;
}

/* game id */
.game .game-id {
	font-family: 'Monaco', 'Menlo', 'Courier', fixed-width;
}

.game .modal-body {
	max-height: 85%;
	overflow: scroll;
}